.loginpage_container {
  background-color: #f2f2f2;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.loginpage_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginpage_top_02 {
  background-color: #2ff;
}
