.TableTitle {
  background-color: slategray;
  color: white;
  width: 40%;
  float: left;
  height: 40px;
  text-align: center;
  padding: 5px 50px;
}
.InputContainer {
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 20px;
}
#TdInput {
  padding: 0;
}
.ColTitle {
  background-color: slategray;
  color: white;
}

.ColGubun {
  background-color: lightblue;
  text-align: center;
  height: 50px;
}
