.TableTitle {
  background-color: slategray;
  color: white;
  width: 40%;
  float: left;
  height: 40px;
  text-align: center;
  padding: 5px 50px;
}
.InputContainer {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  padding: 0;
  /* 텍스트 크기 넘어가면 ... 표시 */
}
#TdInput {
  padding: 0;
  height: 100%;
}
.ColTitle {
  /* height: 40px;
  text-align: center; */
  background-color: slategray;
  color: white;
}

.ColGubun {
  background-color: lightblue;
  text-align: center;
  height: 50px;
}

.MainDivContainer {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
}

.ModalContainer {
  max-width: 80% !important;

  /* width 은 적용안됨 */
  display: block;
  padding-left: 0px;
}
.modal {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.modal_content {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding: 50px 100px;
  text-align: center;
  position: relative;
  width: 50%;
  border-radius: 5px;
  top: 0px;
}
.hidden {
  display: none;
}
h1 {
  margin: 0;
}
